<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <title>Cards against Humanity</title>

</head>


<template name="layout">
    {{> yield region="menu"}}
    <div class="ui section divider"></div>
    {{> yield}}
</template>

<template name="mainMenu">
    <div class="ui fixed top inverted menu">
  <a class="item" href="{{pathFor 'home'}}">
    <i class="home icon"></i> Home
  </a>
  <div class="right menu">
  <div class="item">
      {{> loginButtons align='right'}}
  </div>
  <div class="item">
    <div class="ui primary icon button" id="new-game">
        <i class="plus icon"></i>
    </div>
  </div>
  </div>
</div>

</template>